body {
  margin: 0;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  background-color: #ffbe98;
}

.container {
  background-color: #ffbe98;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
}
.image {
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.image img {
  max-width: 100%;
  max-height: 80%;
}
.text {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}

.text h1 {
  text-align: center;
  margin: 0 auto;
}

.buttons button {
  background-color: #ff4d79;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
  font-family: cursive;
}

.buttons button:hover {
  background-color: #7c1f37;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
